{% extends 'base.html' %}
{% load static %}

{% block title %}Создать заказ{% endblock %}

{% block content %}
<div class="page-content">
    <a href="{% url 'order_list' %}" class="button-back">⬅️ Назад</a>
    <h2 class="page-title">Создать заказ</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Сохранить</button>
    </form>
</div>

<script>
    $(function() {
        $("input[type='text'][name$='date']").datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>
{% endblock %}
